<section class="header-container p-1 mb-5 bg-gradient-to-r from-[#eff2fe] to-[#d6e1fc] shadow-xl rounded">

    <header class="home-header">
        <div class="icon-container flex justify-center mb-3">
            <mat-icon svgIcon="tools" class="tools-icon p-2 rounded shadow-lg" aria-hidden="false"
                aria-label="Example thumbs up SVG icon"></mat-icon>
        </div>

        <div class="text-center">
            <h1 class="text-2xl leading-tight">Herramientas simples para resolver tareas del día a día</h1>
            <p class="text-base text-gray-600 mt-1">Pequeñas herramientas, grandes soluciones.</p>
        </div>
    </header>

</section>

<section class="navigation-container">

    <header>
        <h2 class="text-xl px-2 mb-1">Mis herramientas</h2>
        <p class="text-base text-gray-600">Accede rápidamente a las herramientas que necesitas</p>
    </header>

    <main class="modules-container my-2">

        <mat-card appearance="outlined" class="card-section py-4 mt-5">

            <div class="card-icon">
                <mat-icon svgIcon="salary-distributor" aria-hidden="false"
                            aria-label="Example thumbs up SVG icon"></mat-icon>
            </div>

            <div class="card-content">
                <mat-card-header>
                    <mat-card-title> Distribuidor de salario </mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <p class="text-gray-600">Define cómo distribuir tu salario en diferentes categorías</p>
                </mat-card-content>

                <mat-card-actions class="mt-2">
                    <button routerLink="/e-tools/salary-distributor" matButton="outlined" class="flex flex-row-reverse items-center gap-5">
                        Abrir herramienta
                        <mat-icon svgIcon="arrow" aria-hidden="false"
                            aria-label="Example thumbs up SVG icon"></mat-icon>
                    </button>
                </mat-card-actions>
            </div>

        </mat-card>

    </main>

</section>

<footer>

</footer>