<section class="p-2">
    <shared-page-header [pageHeader]="headerData()"/>

    <!-- Sección para definir porcentajes -->
    <category-percentages (onValidForm)="updateSectionStatus($event)" />

    <!-- Ingresar cantidad de salario y realizar la distribución en base a porcentajes -->
     @if ( percentageFormStatus() && percentagesValues !== null) {
        <section>

            <input-salary [percentagesValues]="percentagesValues" (onCalcDistribution)="catchCalc($event)"/>
            
        </section>
     }
    
</section>