.topbar {
  height: 72px;

  display: flex;
  align-items: center;
  gap: 1rem;

  padding-inline: 1.5rem;

  background: var(--mat-sys-surface);

  border-bottom: 1px solid var(--mat-sys-outline-variant);
}

.mobile-menu-button {
  display: none;
}

@media (max-width: 768px) {
  .mobile-menu-button {
    display: flex;
  }
}