@import "tailwindcss";

/*
Nota: Recuerda añadir el normalize.css
*/

html,
body {
    min-height: 100%;
    overflow: hidden;
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}


/* Inputs */

/* Limpiar estilos */
input {
  all: unset;
  box-sizing: border-box;
  display: block;
  width: 100%;
  font: inherit;
  color: inherit;
}

/* Eliminar estilos del navegador */
input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  background: transparent;
  border-radius: 0;
  box-shadow: none;
}

/* Eliminar estilos de resaltado */
input:focus {
  outline: none;
  box-shadow: none;
}

/* Placeholder */
input::placeholder {
  color: inherit;
  opacity: 1;
}

/* Quitar controles del input number de las cantidades */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Iconos */

.money-icon {
   color: #4caf50;
}